@font-face {
    font-family: 'fabian';
    src: url("../fonts/fabian.ttf");
}
@font-face {
    font-family: 'Laser84';
    src: url("../fonts/Laser84.ttf");
}

body {
    font-family: 'fabian', sans-serif;
    font-size: 3 rem;
    background-color: white;
    background-image: url("../../assets/media/retroBackground.png");
    background-repeat: no-repeat;
    height: 100%;
    background-size: cover;
}