@import url(https://fonts.googleapis.com/css?family=Roboto:400,100);

/*LOGINSCHERM:*/

a {
    text-decoration: none;
}

.login-container {
    margin-left: auto;
    margin-right: auto;
    padding: 40px;
    width: 300px;
    background-color: #F7F7F7;
    border-radius: 2px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    overflow: hidden;
}

.login-container input[type=submit] {
    width: 100%;
    display: block;
    margin-bottom: 10px;
    position: relative;
}

.login-container input[type=text], .login-container input[type=password] {
    height: 44px;
    font-size: 16px;
    width: 100%;
    margin-bottom: 10px;
    -webkit-appearance: none;
    background: #fff;
    border: 1px solid #d9d9d9;
    border-top: 1px solid #c0c0c0;
    border-radius: 3px;
    padding: 0 8px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.login-container input[type=text]:hover, .login-container input[type=password]:hover {
    border: 1px solid #b9b9b9;
    border-top: 1px solid #a0a0a0;
    -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
    -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
    box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
}

.login {
    text-align: center;
    font-size: 14px;
    font-family: 'Arial', sans-serif;
    font-weight: 700;
    height: 36px;
    padding: 0 8px;
    border-radius: 3px;
}

.login-submit, .register-submit  {
    border: 0px;
    color: #fff;
    text-shadow: 0 1px rgba(0, 0, 0, 0.1);
    background-color: #000000;
}

.login-submit:hover, .register-submit:hover {
    border: 0px;
    text-shadow: 0 1px rgba(0,0,0,0.3);
    background-color: #1B3041;
}

.login-container a {
    text-decoration: none;
    color: #666;
    font-weight: 400;
    text-align: center;
    display: inline-block;
    opacity: 0.6;
    transition: opacity ease 0.5s;
}

.login-container a:hover {
    opacity: 1;
}

.login-help {
    width: 100%;
    text-align: center;
    font-size: 12px;
}

/*---MAIN MENU---*/

.mainMenu {
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    padding: 30px;
}

.userInfo {
    margin-top: 50px;
    margin-bottom: 50px;
}

.userInfo div {
    display: inline-block;
    color: white;
    width: 300px;
    text-align: center;
    font-size: 2rem;
    vertical-align: top;
}

.userInfo-1, .userInfo-2 {
    margin-right: 80px;
}

.userInfo-1 {
    margin-left: 15%;
}

.logOut {
    width: 300px;
    margin-left: auto;
}

.mainMenu li input[type=submit], .logOut-submit {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-bottom: 30px;
    position: relative;
    border-radius: 5px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.retroBlocks-header {
    margin-bottom: 80px;
    margin-left: auto;
    margin-right: auto;
    width: 390px;
}

.chooseGameMode-submit, .clan-submit, .shop-submit, .highScore-submit, .logOut-submit {
    border: 2px solid #9C35FF;
    color: #000000;
    text-shadow: 0 1px rgba(0, 0, 0, 0.1);
    background: linear-gradient(to right, #9584FF , #FFA1E2);
}

.chooseGameMode-submit:hover, .clan-submit:hover, .shop-submit:hover, .highScore-submit:hover, .logOut-submit:hover {
    border: 2px solid #9C35FF;
    color: #000000;
    text-shadow: 0 1px rgba(0,0,0,0.3);
    background: linear-gradient(to right, #FFA1E2 , #9584FF);
}

.material-icons {
    color: #FF02B4;
    margin-left: 10px;
}

.xp {
    height: 25px;
    display: block;
    border-radius: 20px;
    font-size: 1.2rem;
    border: 2px solid #FF02B4;
    background-color: transparent;
    position: relative;
}

.xp-value {
    display: block;
    border-radius: 20px;
    background-color: #FF02B4;
    height: 100%;
    width: 40%;

}

.xp-text {
    display: block;
    position: absolute;
    top: 0;
    width: 100%;
    vertical-align: center;
}

.cube {
    width: 10%;
    margin-right: 10px;
}

.cp {
    width: 13%;
    margin-right: 10px;
}

.user-avatar {
    width: 100px;
}

/*------Choose Hero------*/

/*.chooseHeroTitle {*/
    /*color: white;*/
/*}*/

.choose-hero-container {
    width: 1200px;
    height: 380px;
    margin-left: auto;
    margin-right: auto;
}

.choose-hero {
    width: 1100px;
    height: 380px;
    margin-left: auto;
    margin-right: auto;
}

.hero-donkeykong, .hero-pacman, .hero-pikachu, .hero-sony {
    background-color: yellow;
    width: 200px;
    height: 325px;
    padding: 20px;
    display: inline-block;
    opacity: 0.2;
}

.hero-donkeykong, .hero-pacman, .hero-pikachu {
    margin-right: 30px;
}

.choose-hero p {
    text-align: center;
}

.donkeyKong {
    width: 100%;
    margin-top: 25px;
    margin-bottom: 35px;
}

