/*@import url(https://fonts.googleapis.com/css?family=Roboto:400,100);*/

/*LOGINSCHERM:*/

#error {
    display: block;
}

a {
    text-decoration: none;
}

.login-container {
    margin-left: auto;
    margin-right: auto;
    padding: 40px;
    width: 300px;
    background-color: #F7F7F7;
    border-radius: 2px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
    overflow: hidden;
}

.login-container input[type=submit] {
    width: 100%;
    display: block;
    margin-bottom: 10px;
    position: relative;
}

.login-container input[type=text], .login-container input[type=password] {
    height: 44px;
    font-size: 16px;
    width: 100%;
    margin-bottom: 10px;
    -webkit-appearance: none;
    background: #fff;
    border: 1px solid #d9d9d9;
    border-top: 1px solid #c0c0c0;
    border-radius: 3px;
    padding: 0 8px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.login-container input[type=text]:hover, .login-container input[type=password]:hover {
    border: 1px solid #b9b9b9;
    border-top: 1px solid #a0a0a0;
    -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
    -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
    box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
}

.login {
    text-align: center;
    font-size: 14px;
    font-family: 'Arial', sans-serif;
    font-weight: 700;
    height: 36px;
    padding: 0 8px;
    border-radius: 3px;
}

.login-submit, .register-submit  {
    border: 0;
    color: #fff;
    text-shadow: 0 1px rgba(0, 0, 0, 0.1);
    background-color: #000000;
}

.login-submit:hover, .register-submit:hover {
    border: 0;
    text-shadow: 0 1px rgba(0,0,0,0.3);
    background-color: #1B3041;
}

.login-container a {
    text-decoration: none;
    color: #666;
    font-weight: 400;
    text-align: center;
    display: inline-block;
    opacity: 0.6;
    transition: opacity ease 0.5s;
}

.login-container a:hover {
    opacity: 1;
}

.login-help {
    width: 100%;
    text-align: center;
    font-size: 12px;
}

/*---MAIN MENU---*/

.mainMenu {
    width: 500px;
    margin-left: auto;
    margin-right: auto;
}

.userInfo {
    margin-top: 30px;
}

.userInfo div {
    display: inline-block;
    color: white;
    width: 300px;
    text-align: center;
    font-size: 2rem;
    vertical-align: top;
}

.userInfo-1, .userInfo-2 {
    margin-right: 80px;
}

.userInfo-1 {
    margin-left: 15%;
}

.logOut {
    width: 300px;
    margin-left: auto;
}

.mainMenu li input[type=submit], .logOut-submit, .option-back-submit, .back-submit, .save-submit, .next-submit {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-bottom: 30px;
    position: relative;
    border-radius: 5px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.retroBlocks-header {
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 390px;
}



.chooseGameMode-submit, .clan-submit, .shop-submit, .highScore-submit, .logOut-submit, .back-submit, .save-submit, .playGame-submit, #no, #yes, #leaveMatch, #playGame, .sendMessage  {

    border: 2px solid #9C35FF;
    color: #000000;
    text-shadow: 0 1px rgba(0, 0, 0, 0.1);
    background: linear-gradient(to right, #9584FF , #FFA1E2);
}

.chooseGameMode-submit:hover, .clan-submit:hover, .shop-submit:hover, .highScore-submit:hover, .logOut-submit:hover, .back-submit:hover, .playGame-submit:hover, .option-back-submit:hover, .playFriends-submit:hover, .findOpp-submit:hover, .save-submit:hover, #no:hover, #yes:hover, .multiplayer-footer ul li:hover, #leaveMatch:hover, #playGame:hover, .sendMessage:hover {

    border: 2px solid #9C35FF;
    color: #000000;
    text-shadow: 0 1px rgba(0,0,0,0.3);
    background: linear-gradient(to right, #FFA1E2 , #9584FF);
}

.material-icons {
    color: #FF02B4;
    margin-left: 10px;
}

.xp {
    height: 25px;
    display: block;
    border-radius: 20px;
    font-size: 1.2rem;
    border: 2px solid #FF02B4;
    background-color: transparent;
    position: relative;
}

.xp-value {
    display: block;
    border-radius: 20px;
    background-color: #FF02B4;
    height: 100%;
    width: 40%;

}

.xp-text {
    display: block;
    position: absolute;
    top: 0;
    width: 100%;
    vertical-align: center;
}

.cube {
    width: 10%;
    margin-right: 10px;
}

.cp {
    width: 13%;
    margin-right: 10px;
}

.user-avatar {
    width: 25%;
}

ul{
    list-style-type: none;
}

/*------Choose Hero------*/
.chooseHeroTitle {
    color: white;
    text-align: center;
}

.choose-hero-container {
    width: 1200px;
    height: 220px;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
}

.choose-hero {
    width: 1200px;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
    display: inline-flex;
    justify-content: space-between;
    list-style-type: none;
}

.hero-donkeykong, .hero-pacman, .hero-pikachu, .hero-sony {
    width: 200px;
    height: 260px;
    padding: 20px;
    display: inline-block;
    text-align: center;
}

.choose-hero p {
    font-size: 1.2rem;
    text-align: center;
    color: yellow;
}

.donkeykong, .pikachu {
    width: 80%;
    margin-top: 15px;
    margin-bottom: 5px;
}

.playGame {
    width: 300px;
    margin-left: auto;
}

.choose-hero-buttons {
    display: flex;
    margin-top: 130px;
}

.playGame-submit, .back-submit {
     width: 80%;
     margin-left: auto;
     margin-right: auto;
     display: block;
     border-radius: 5px;
     padding-top: 15px;
     padding-bottom: 15px;
 }


/*----------------- Choose a gamemode -------------------*/
.title{
    color: white;
    margin-left: auto;
    margin-right: auto;
    width: 450px;
}

figcaption{
    color: white;
    font-size: 2rem;
}

.gamemodes{
    height: 100px;
}

.selected{
    outline: none;
    box-shadow: 0 0 50px 10px rebeccapurple;
}

#showAllGamemodes, #showAllAvatars{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: center;
    justify-content: space-around;
}

#showAllGamemodes{
    margin-top: -15px;
}

#showAllGamemodes figure{
    float: left;
    width: 40%;
    padding-top: 15px;
}

.back{
    width: 300px;
    margin-right: auto;
}


/*--------------------------Change avatar-----------------------------*/
.border p {
    width: 320px;
    margin-left: auto;
    margin-right: auto;
    color: white;
}

#showAllAvatars figure, .avatars{
    width: 100px;
    height: 100px;
}

.border{
    box-shadow: 0 0 50px 10px rebeccapurple;
    width: 600px;
    margin-left: auto;
    margin-right: auto;
}

#showAllAvatars figure{
    margin-top: -10px;
}

#save, #back, #next{
    width: 300px;
}

#button_container{
    display: flex;
    align-items: center;
    justify-content: space-between;

    margin-top: 45px;
}

/*-----Change avatar confirm screen-------*/
section{
    color: white;
    box-shadow: 0 0 50px 10px rebeccapurple;
    width: 500px;
    margin-right: auto;
    margin-left: auto;
    font-size: 1rem;
    position: relative;
    z-index: 5;
}

h1, p{
    padding-left: 10px;
}
/*------Choose Menu------*/
.choose-menu {
    color: white;
    text-align: center;
}

.choose-menu h1 {
    font-size: 5.0rem;
}

.choose-menu p {
    font-size: 2.5rem;
}

.choose-option {
    width: 1200px;
    height: 200px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-around;
}

.play-friends, .play-opp {
    width: 400px;
    height: 200px;
}

.choose-back {
    width: 200px;
    height: 50px;
    align-self: center;
    margin-left: auto;
    margin-right: auto;
}

.playFriends-submit, .findOpp-submit {
    width: 400px;
    height: 200px;
    border: 2px solid #9584FF;
    border-radius: 10px;
    color: #000000;
    text-shadow: 0 1px rgba(0, 0, 0, 0.1);
    background: linear-gradient(to right, #9584FF , #FFA1E2);
    font-size: 1.5rem;
    opacity: 0.5;
}

.option-back-submit {
    background: linear-gradient(to right, #9584FF , #FFA1E2);
    opacity: 0.5;
    font-size: 1.1rem;
    border: 2px solid #9584FF;
    border-radius: 10px;
}

section input{
    width: 49.5%;
    display: inline-block;
}

.hidden{
    visibility: hidden;
    position: absolute;
}

.show {
    visibility: visible;
    position: absolute;
    left: 50%;
    margin-left: -250px;
    width: 500px;
    background: url("../media/retroBackground.png");

}

/*------Multiplayer Field------*/
#container-field {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    padding-top: 3vh;
}

.multiplayer-container {
    display: inline-block;
}

.multiplayer-opponents {
    width: 40%;
    text-align: center;
    position: relative;

}

#opp {
    position: absolute;
    bottom: 5%;
    top: 5%;
}

#userField_2, #userField_3, #userField_4, #userField_5 {
    outline: none;
    box-shadow: 0 0 50px 10px rebeccapurple;
    /*width: 270px;
    height: 250px;*/
    align-items: center;
    opacity: 1;
}

.userField_1 {
    outline: none;
    box-shadow: 0 0 50px 10px rebeccapurple;
}

.multiplayer-footer {
    color: white;
    font-size: 1.0rem;
    margin-top: 80px;
}

.multiplayer-footer ul {
    list-style-type: none;
    display: flex;
}

.multiplayer-footer ul li {
    justify-content: space-around;
    text-align: center;
    width: 400px;
    height: 20px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    background-color: #2A679D;
    align-self: flex-end;
    border: 2px solid #9584FF;
    border-radius: 10px;
    color: #000000;
    text-shadow: 0 1px rgba(0, 0, 0, 0.1);
    background: linear-gradient(to right, #9584FF , #FFA1E2);
    font-size: 1.0rem;
}


/*------Matching Friends------*/
#matchingFriends {
    width: 80%;
    height: 200px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 8vh;
    margin-top: 3vh;
    border: 2px solid #9584FF;
    border-radius: 10px;
    text-align: center;
}

#matchingFriends:first-child {
    color: white;
    font-size: 4vh;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2vh;
}

#url {
    width: 45%;
    height: 3vh;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    border-radius: 20px;
    padding-top: 0.2vh;
    padding-bottom: 0.2vh;
    font-size: 2vh;
    color: black;
}

.matching-friends-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 45%;
    height: 3vh;
    margin-left: auto;
    margin-right: auto;
}

#leaveMatch, #playGame {
    border-radius: 20px;
    padding: 5px 10px 5px 10px;
}

#matchStats {
    width: 80vw;
    height: 60vh;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#playerList, #playerChat {
    width: 35vw;
    height: 60vh;
    border: 2px solid #9584FF;
    border-radius: 10px;
    color: white;
}

#playerList p, #playerChat p {
    text-align: center;
    font-size: 3vh;
    margin-bottom: 1vh;
}

#playerList hr, #playerChat hr {
    display: block;
    height: 1px;
    width: 30vw;
    border: 0;
    border-top: 1px solid #9584FF;
    padding: 0;
}

#playerList p.name, #playerList p.score  {
    font-size: 2vh;
    margin-top: 1vh;
}

.playersName, .playersScore {
    font-size: 3vh;
}

#listOfPlayers {
    margin: 0;
    padding: 0;
}

#listOfPlayers li, .heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 100px;
}

.message-container {
    display: flex;
    width: 30vw;
    height: 10vh;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2px;
}

.message {
    width: 15vw;
    border: 2px solid #9584FF;
    border-radius: 10px;
    padding: 10px 20px;
}

.sendMessage {
    width: 6vw;
    border: 2px solid #9584FF;
    border-radius: 10px;
    padding: 10px 20px;
}


/*---chat---*/

.container {
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
}

.window {
    margin: 0 auto;
    width: 90%;
    height: 40vh;
    border-radius: 15px;
    overflow-x: hidden;
    overflow-y: auto;
    z-index: 1;
    position: relative;
}

.text {
    font-family: sans-serif;
    font-size: 14px;
    margin: 25px;
    letter-spacing: 1px;
    position: relative;
    margin-bottom: 200px;
}

.chatbox {
    width: 90%;
    margin: 0 auto;
    margin-top: -133px;
}

.chatbox input {
    width: 100%;
    height: 50px;
    text-align: center;
    background-color: white;
    border-radius: 15px;
    border: none;
    outline: none;
    margin: 20% auto;
    line-height: 100px;
    overflow: hidden;
    color: #222;
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    letter-spacing: 2.5px;
    border-top: 3px solid #9584FF;
    z-index: 2;
    position: relative;
}


/*------High Scores------*/
.header-scores {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2vh;
}

.header-scores h1 {
    color: white;
    font-size: 8vh;
}

#searchScore {
    width: 15vw;
    height: 4vh;
    padding: 10px;
    font-size: 3vh;
    border: 2px solid #9584FF;
    border-radius: 15px;
    text-align: center;
}

.container-score, .score-types {
    height: 55vh;
}

.score-types {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.score-types div {
    height: 50vh;
    width: 15vw;
    border: 2px solid #9584FF;
    border-radius: 15px;
}

.score-types div p {
    color: white;
    font-size: 3vh;
    text-align: center;
}

.score-types div hr {
    background-color: #9584FF;
    width: 70%;
}

